<a href="https://colab.research.google.com/github/Sujay2108/Assignments/blob/main/Task9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('HR_comma_sep.csv')
data.head()

   satisfaction_level  last_evaluation  ...  Department  salary
0                0.38             0.53  ...       sales     low
1                0.80             0.86  ...       sales  medium
2                0.11             0.88  ...       sales  medium
3                0.72             0.87  ...       sales     low
4                0.37             0.52  ...       sales     low

[5 rows x 10 columns]

In [4]:
print(data.size)
print(data.shape)
print(data.describe())
print(data.keys)

149990
(14999, 10)
       satisfaction_level  last_evaluation  ...          left  promotion_last_5years
count        14999.000000     14999.000000  ...  14999.000000           14999.000000
mean             0.612834         0.716102  ...      0.238083               0.021268
std              0.248631         0.171169  ...      0.425924               0.144281
min              0.090000         0.360000  ...      0.000000               0.000000
25%              0.440000         0.560000  ...      0.000000               0.000000
50%              0.640000         0.720000  ...      0.000000               0.000000
75%              0.820000         0.870000  ...      0.000000               0.000000
max              1.000000         1.000000  ...      1.000000               1.000000

[8 rows x 8 columns]
<bound method NDFrame.keys of        satisfaction_level  last_evaluation  ...  Department  salary
0                    0.38             0.53  ...       sales     low
1                    0.80             0.86  ...       sales  medium
2                    0.11             0.88  ...       sales  medium
3                    0.72             0.87  ...       sales     low
4                    0.37             0.52  ...       sales     low
...                   ...              ...  ...         ...     ...
14994                0.40             0.57  ...     support     low
14995                0.37             0.48  ...     support     low
14996                0.37             0.53  ...     support     low
14997                0.11             0.96  ...     support     low
14998                0.37             0.52  ...     support     low

[14999 rows x 10 columns]>

In [5]:
dummies = pd.get_dummies(data.Department)
dummies

       IT  RandD  accounting  hr  ...  product_mng  sales  support  technical
0       0      0           0   0  ...            0      1        0          0
1       0      0           0   0  ...            0      1        0          0
2       0      0           0   0  ...            0      1        0          0
3       0      0           0   0  ...            0      1        0          0
4       0      0           0   0  ...            0      1        0          0
...    ..    ...         ...  ..  ...          ...    ...      ...        ...
14994   0      0           0   0  ...            0      0        1          0
14995   0      0           0   0  ...            0      0        1          0
14996   0      0           0   0  ...            0      0        1          0
14997   0      0           0   0  ...            0      0        1          0
14998   0      0           0   0  ...            0      0        1          0

[14999 rows x 10 columns]

In [6]:
dummies2 = pd.get_dummies(data.salary)
dummies2

       high  low  medium
0         0    1       0
1         0    0       1
2         0    0       1
3         0    1       0
4         0    1       0
...     ...  ...     ...
14994     0    1       0
14995     0    1       0
14996     0    1       0
14997     0    1       0
14998     0    1       0

[14999 rows x 3 columns]

In [7]:
merge  = pd.concat([data,dummies,dummies2],axis = 'columns')
final = merge.drop(['Department','salary'],axis='columns')

In [8]:
final.head()

   satisfaction_level  last_evaluation  number_project  ...  high  low  medium
0                0.38             0.53               2  ...     0    1       0
1                0.80             0.86               5  ...     0    0       1
2                0.11             0.88               7  ...     0    0       1
3                0.72             0.87               5  ...     0    1       0
4                0.37             0.52               2  ...     0    1       0

[5 rows x 21 columns]

In [9]:
x = final.drop('left',axis='columns')
y = final['left']

In [10]:
print(x.head())
print(y.head())

   satisfaction_level  last_evaluation  number_project  ...  high  low  medium
0                0.38             0.53               2  ...     0    1       0
1                0.80             0.86               5  ...     0    0       1
2                0.11             0.88               7  ...     0    0       1
3                0.72             0.87               5  ...     0    1       0
4                0.37             0.52               2  ...     0    1       0

[5 rows x 20 columns]
0    1
1    1
2    1
3    1
4    1
Name: left, dtype: int64

In [11]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=5)
mymodel = LogisticRegression()
mymodel.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [12]:
ypred = mymodel.predict(xtest)
print(ytest)
print(ypred)

184      1
1126     1
942      1
11865    0
5265     0
        ..
9857     0
10887    0
7221     0
14458    1
2967     0
Name: left, Length: 3000, dtype: int64
[0 0 1 ... 0 0 0]

In [ ]:
from sklearn.metrics import accuracy_score,r2_score,confusion_matrix,mean_squared_error
print('Accuracy: ',accuracy_score(ypred,ytest))

Accuracy:  0.7936666666666666

In [ ]:
cm = confusion_matrix(ytest,ypred)
cm

array([[2074,  201],
       [ 418,  307]])

In [ ]:
mse = mean_squared_error(ypred,ytest)
mse

0.20633333333333334

In [13]:
mymodel.score(xtest,ytest)

0.7743333333333333